In [1]:
# SPARK_HOME="/Users/ssv/spark-2.2.0-bin-hadoop2.7"
import os
import sys
os.environ["PYSPARK_SUBMIT_ARGS"]='--packages com.databricks:spark-csv_2.10:1.2.0 pyspark-shell'
os.environ["PYSPARK_PYTHON"]='python3'
# os.environ["SPARK_HOME"]='/usr/hdp/current/spark2-client'
os.environ["SPARK_HOME"]='/Users/ssv/spark-2.2.0-bin-hadoop2.7'

spark_home = os.environ.get('SPARK_HOME', None)
if not spark_home:
    raise ValueError('SPARK_HOME environment variable is not set')
sys.path.insert(0, os.path.join(spark_home, 'python'))
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.10.4-src.zip'))
os.environ["PYSPARK_PYTHON"] = 'python3'
exec(open(os.path.join(spark_home, 'python/pyspark/shell.py')).read())

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.2.0
      /_/

Using Python version 3.6.2 (default, Sep 21 2017 18:29:43)
SparkSession available as 'spark'.

In [9]:
ratings_file = 'data/u.data'
films_file = 'data/u.item'

In [20]:
ratings_rdd = sc.textFile(ratings_file)
films_rdd = sc.textFile(films_file)

In [24]:
r_df = ratings_rdd.map(lambda x: x.split('\t')).toDF(schema=['user_id', 'film_id', 'rating', 'hz'])

In [25]:
r_df.show()

+-------+-------+------+---------+
|user_id|film_id|rating|       hz|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
|     22|    377|     1|878887116|
|    244|     51|     2|880606923|
|    166|    346|     1|886397596|
|    298|    474|     4|884182806|
|    115|    265|     2|881171488|
|    253|    465|     5|891628467|
|    305|    451|     3|886324817|
|      6|     86|     3|883603013|
|     62|    257|     2|879372434|
|    286|   1014|     5|879781125|
|    200|    222|     5|876042340|
|    210|     40|     3|891035994|
|    224|     29|     3|888104457|
|    303|    785|     3|879485318|
|    122|    387|     5|879270459|
|    194|    274|     2|879539794|
|    291|   1042|     4|874834944|
|    234|   1184|     2|892079237|
+-------+-------+------+---------+
only showing top 20 rows

In [27]:
f_df = films_rdd.map((lambda x: (x.split('|')[0],  x.split('|')[1]))).toDF(schema=['film_id', 'film_name'])

In [28]:
f_df.show()

+-------+--------------------+
|film_id|           film_name|
+-------+--------------------+
|      1|    Toy Story (1995)|
|      2|    GoldenEye (1995)|
|      3|   Four Rooms (1995)|
|      4|   Get Shorty (1995)|
|      5|      Copycat (1995)|
|      6|Shanghai Triad (Y...|
|      7|Twelve Monkeys (1...|
|      8|         Babe (1995)|
|      9|Dead Man Walking ...|
|     10|  Richard III (1995)|
|     11|Seven (Se7en) (1995)|
|     12|Usual Suspects, T...|
|     13|Mighty Aphrodite ...|
|     14|  Postino, Il (1994)|
|     15|Mr. Holland's Opu...|
|     16|French Twist (Gaz...|
|     17|From Dusk Till Da...|
|     18|White Balloon, Th...|
|     19|Antonia's Line (1...|
|     20|Angels and Insect...|
+-------+--------------------+
only showing top 20 rows

In [32]:
r_df.registerTempTable("ratings")
f_df.registerTempTable("films")

In [156]:
spark.sql("SHOW TABLES").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |    films|       true|
|        |  ratings|       true|
|        |       rf|       true|
|        |user_user|       true|
+--------+---------+-----------+

In [61]:
users_count = spark.sql("SELECT count(distinct(user_id)) as u_count FROM ratings").take(1)[0].u_count

In [63]:
films_count = spark.sql("SELECT count(distinct(film_id)) as f_count FROM films").take(1)[0].f_count

In [66]:
print('films count = {}, users_count = {}'.format(films_count, users_count))

films count = 1682, users_count = 943

In [79]:
average_user_ratings = round(spark.sql("SELECT count(rating) as ratings_count FROM ratings") \
                                    .take(1)[0].ratings_count / users_count, 4)

In [85]:
average_film_ratings = round(spark.sql("SELECT count(rating) as ratings_count FROM ratings") \
                                    .take(1)[0].ratings_count / films_count, 4)

In [88]:
completness = round(spark.sql("SELECT count(rating) as ratings_count FROM ratings") \
                                    .take(1)[0].ratings_count / (users_count * films_count), 4)

In [89]:
print('average_film_ratings = {}, average_user_ratings = {}, completness = {}'\
                                  .format(average_film_ratings, average_user_ratings, completness))

average_film_ratings = 59.453, average_user_ratings = 106.0445, completness = 0.063

In [108]:
user_user = spark.sql('SELECT user_id as user_id, sum(rating) as ratings_sum, count(rating) as ratings_count,' +
                       ' ROUND (sum(rating) / count(rating), 4) as users_mean_rating FROM ratings GROUP BY user_id')

In [109]:
user_user.show()

+-------+-----------+-------------+-----------------+
|user_id|ratings_sum|ratings_count|users_mean_rating|
+-------+-----------+-------------+-----------------+
|    296|      614.0|          147|           4.1769|
|    467|      162.0|           44|           3.6818|
|    691|      135.0|           32|           4.2188|
|    675|      126.0|           34|           3.7059|
|    829|      227.0|           64|           3.5469|
|    125|      626.0|          182|           3.4396|
|    451|      268.0|           98|           2.7347|
|    800|      105.0|           28|             3.75|
|    853|      122.0|           41|           2.9756|
|    666|      898.0|          245|           3.6653|
|    870|      929.0|          269|           3.4535|
|    919|      753.0|          217|             3.47|
|    926|       66.0|           20|              3.3|
|      7|     1598.0|          403|           3.9653|
|    124|       84.0|           24|              3.5|
|     51|       82.0|           23|           3.5652|
|    447|      500.0|          139|           3.5971|
|    591|      307.0|           84|           3.6548|
|    307|      425.0|          112|           3.7946|
|    475|       72.0|           20|              3.6|
+-------+-----------+-------------+-----------------+
only showing top 20 rows

## user id for ratings prediction:  94

In [127]:
films_for_user_94 = spark.sql('SELECT film_id FROM ratings WHERE user_id = {}'.format('94'))

In [211]:
films_for_user_94.count()

400

In [147]:
spark.sql('SELECT DISTINCT(user_id) FROM ratings' + 
          ' WHERE film_id in (SELECT film_id FROM ratings WHERE user_id = {}) ORDER BY user_id'.format('94')).show()

+-------+
|user_id|
+-------+
|      1|
|     10|
|    100|
|    101|
|    102|
|    103|
|    104|
|    105|
|    106|
|    107|
|    108|
|    109|
|     11|
|    110|
|    111|
|    112|
|    113|
|    114|
|    115|
|    116|
+-------+
only showing top 20 rows

In [143]:
user_user.registerTempTable("user_user")

In [154]:
rf = spark.sql('SELECT * FROM user_user WHERE user_id in (SELECT DISTINCT(user_id) FROM ratings' + 
          ' WHERE film_id in (SELECT film_id FROM ratings WHERE user_id = {}))'.format('94'))

In [155]:
rf.registerTempTable("rf")

In [157]:
rf.show()

+-------+-----------+-------------+-----------------+
|user_id|ratings_sum|ratings_count|users_mean_rating|
+-------+-----------+-------------+-----------------+
|    296|      614.0|          147|           4.1769|
|    467|      162.0|           44|           3.6818|
|    675|      126.0|           34|           3.7059|
|    691|      135.0|           32|           4.2188|
|    829|      227.0|           64|           3.5469|
|    125|      626.0|          182|           3.4396|
|    451|      268.0|           98|           2.7347|
|    800|      105.0|           28|             3.75|
|    853|      122.0|           41|           2.9756|
|    666|      898.0|          245|           3.6653|
|    870|      929.0|          269|           3.4535|
|    919|      753.0|          217|             3.47|
|    926|       66.0|           20|              3.3|
|    124|       84.0|           24|              3.5|
|    447|      500.0|          139|           3.5971|
|     51|       82.0|           23|           3.5652|
|    591|      307.0|           84|           3.6548|
|      7|     1598.0|          403|           3.9653|
|    307|      425.0|          112|           3.7946|
|    475|       72.0|           20|              3.6|
+-------+-----------+-------------+-----------------+
only showing top 20 rows

In [353]:
def ss(x):
    print(x)
    return x

In [356]:
def s(x):
    # x - user_id
    # Calculate corellation ...
    
    my_users_mean_rating = spark.sql('SELECT users_mean_rating FROM user_user WHERE user_id = {}'.format('94')).take(1)[0].users_mean_rating
    curr_users_mean_rating = spark.sql('SELECT users_mean_rating FROM user_user WHERE user_id = {}'.format(x)).take(1)[0].users_mean_rating

    corr_s_a_u = spark.sql(
        'SELECT ' +   
        ' (sum(myR_POW_uR_) / (sqrt(sum(myR_2)) * sqrt(sum(uR_2))))  * (CASE WHEN count(T3.user_id)/50 < 1 THEN count(T3.user_id)/50 ELSE 1 END) as corr_s_a_u, '    
        ' CASE WHEN sum(myR_2) = 0 OR sum(uR_2) = 0 THEN 0 ELSE sum(myR_POW_uR_) / (sqrt(sum(myR_2)) * sqrt(sum(uR_2))) END as s_a_u ' +
        ' FROM (' +
        ' SELECT T2.user_id as user_id, T1.rating as rating_94, T2.rating as rating_u, T1.film_id,' + 
        ' int(T1.rating) - {} as myR_,  int(T2.rating) - {} as uR_,'.format(my_users_mean_rating, curr_users_mean_rating) +
        ' (int(T1.rating) - {}) * (int(T2.rating) - {}) as myR_POW_uR_,'.format(my_users_mean_rating, curr_users_mean_rating) +    
        ' POW(int(T1.rating) - {}, 2) as myR_2,'.format(my_users_mean_rating) + 
        ' POW(int(T2.rating) - {}, 2) as uR_2'.format(curr_users_mean_rating) +    
        ' FROM ' +
        '(SELECT user_id, rating, film_id FROM ratings WHERE user_id = 94) T1, ' +
        '(SELECT user_id, rating, film_id FROM ratings WHERE user_id = {}) T2 '.format(str(x)) +
        ' WHERE T1.film_id = T2.film_id' +
            ') T3 GROUP BY user_id' 
        ).take(1)[0].corr_s_a_u
        
    return float(corr_s_a_u)

In [342]:
from pyspark.sql.types import FloatType
spark.udf.register('s', s, FloatType())

Traceback (most recent call last):
  File "/Users/ssv/spark-2.2.0-bin-hadoop2.7/python/pyspark/cloudpickle.py", line 148, in dump
    return Pickler.dump(self, obj)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 409, in dump
    self.save(obj)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 476, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 736, in save_tuple
    save(element)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 476, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/ssv/spark-2.2.0-bin-hadoop2.7/python/pyspark/cloudpickle.py", line 249, in save_function
    self.save_function_tuple(obj)
  File "/Users/ssv/spark-2.2.0-bin-hadoop2.7/python/pyspark/cloudpickle.py", line 297, in save_function_tuple
    save(f_globals)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 476, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 821, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 852, in _batch_setitems
    save(v)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 521, in save
    self.save_reduce(obj=obj, *rv)
  File "/Users/ssv/spark-2.2.0-bin-hadoop2.7/python/pyspark/cloudpickle.py", line 600, in save_reduce
    save(state)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 476, in save
    f(self, obj) # Call unbound method with explicit self
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 821, in save_dict
    self._batch_setitems(obj.items())
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 847, in _batch_setitems
    save(v)
  File "/Users/ssv/anaconda3/lib/python3.6/pickle.py", line 496, in save
    rv = reduce(self.proto)
  File "/Users/ssv/spark-2.2.0-bin-hadoop2.7/python/pyspark/context.py", line 306, in __getnewargs__
    "It appears that you are attempting to reference SparkContext from a broadcast "
Exception: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

PicklingError: Could not serialize object: Exception: It appears that you are attempting to reference SparkContext from a broadcast variable, action, or transformation. SparkContext can only be used on the driver, not in code that it run on workers. For more information, see SPARK-5063.

In [343]:
s('94')

0.9844289288401369

In [371]:
user_id_list = spark.sql('SELECT user_id FROM rf ORDER BY user_id').collect()

In [379]:
from tqdm import tqdm_notebook
sau = {}
for item in tqdm_notebook(user_id_list):    
    sau[item.user_id] = s(item.user_id)

A Jupyter Widget

In [380]:
import pickle
with open('sau.pickle', 'wb') as file:
    pickle.dump(sau, file)

In [438]:
import operator
ngb_30 = sorted(sau.items(), key=operator.itemgetter(1), reverse=True)[2:32]

In [439]:
ngb_30

[('323', 0.6330644560265287),
 ('360', 0.6207357680071715),
 ('293', 0.590014743266137),
 ('267', 0.5839495927398461),
 ('249', 0.5812900892305374),
 ('854', 0.5551874664570252),
 ('916', 0.5502086675974763),
 ('624', 0.5471691239900619),
 ('773', 0.5401587418779192),
 ('560', 0.5400385495822057),
 ('592', 0.5384405626586564),
 ('595', 0.5339939852125214),
 ('269', 0.5297107916409709),
 ('343', 0.5287790427859199),
 ('880', 0.5199594422786038),
 ('591', 0.5140159694936672),
 ('389', 0.5044095713822253),
 ('339', 0.5031718536035155),
 ('292', 0.5012135911240411),
 ('643', 0.49978723662136165),
 ('933', 0.4997816379083301),
 ('135', 0.4978019565804982),
 ('537', 0.4938318949847064),
 ('457', 0.4915256070820755),
 ('747', 0.4903884269601028),
 ('645', 0.489983972124755),
 ('49', 0.4857552798705937),
 ('115', 0.47789791024935635),
 ('303', 0.47718396646562716),
 ('92', 0.4770852620351513)]

In [440]:
ngb_30_df = spark.createDataFrame(ngb_30, schema=['user_id', 'sau'])

In [441]:
ngb_30_df.registerTempTable('ngb_30')

In [ ]:
for i in (spark.sql('SELECT user_id FROM ngb_30 ORDER by sau, int(user_id)').collect()):
    print(i.user_id, ',')

In [443]:
ngb_30_df.show()

+-------+-------------------+
|user_id|                sau|
+-------+-------------------+
|    323| 0.6330644560265287|
|    360| 0.6207357680071715|
|    293|  0.590014743266137|
|    267| 0.5839495927398461|
|    249| 0.5812900892305374|
|    854| 0.5551874664570252|
|    916| 0.5502086675974763|
|    624| 0.5471691239900619|
|    773| 0.5401587418779192|
|    560| 0.5400385495822057|
|    592| 0.5384405626586564|
|    595| 0.5339939852125214|
|    269| 0.5297107916409709|
|    343| 0.5287790427859199|
|    880| 0.5199594422786038|
|    591| 0.5140159694936672|
|    389| 0.5044095713822253|
|    339| 0.5031718536035155|
|    292| 0.5012135911240411|
|    643|0.49978723662136165|
+-------+-------------------+
only showing top 20 rows

In [445]:
r_df.show(2)

+-------+-------+------+---------+
|user_id|film_id|rating|       hz|
+-------+-------+------+---------+
|    196|    242|     3|881250949|
|    186|    302|     3|891717742|
+-------+-------+------+---------+
only showing top 2 rows

In [518]:
prt_df = spark.sql( 'SELECT T1.film_id, T1.user_id, T1.rating, T2.users_mean_rating, T1.rating - T2.users_mean_rating as r_ ' + 
           ' FROM ' +
           ' (SELECT film_id, user_id, rating FROM ratings  WHERE user_id IN (SELECT user_id FROM ngb_30)) T1, ' +
           ' (SELECT user_id, users_mean_rating FROM rf) T2 ' +
           '  WHERE T1.user_id = T2.user_id ' 
         )

In [519]:
prt_df.registerTempTable('prt')

In [533]:
prt2_df = spark.sql( 'SELECT T1.film_id, T1.user_id, T1.r_, T2.sau,  T1.r_ * T2.sau as for_sum ' +
           ' FROM ' +
           ' (SELECT film_id, user_id, r_ FROM prt) T1, ' +
           ' (SELECT user_id, sau FROM ngb_30) T2 ' +
           ' WHERE T1.user_id = T2.user_id ' 
)

In [534]:
prt2_df.registerTempTable('prt2')

In [535]:
prt2_df.show()

+-------+-------+-------------------+------------------+--------------------+
|film_id|user_id|                 r_|               sau|             for_sum|
+-------+-------+-------------------+------------------+--------------------+
|    787|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
|   1017|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
|   1099|    591| 1.3452000000000002|0.5140159694936672|  0.6914542821628813|
|    191|    591| 1.3452000000000002|0.5140159694936672|  0.6914542821628813|
|    382|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    322|    591|-1.6547999999999998|0.5140159694936672| -0.8505936263181204|
|    740|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    204|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    286|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|     56|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    275|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    934|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
|     88|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
|     72|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
|    921|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    235|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
|   1111|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    580|    591|-1.6547999999999998|0.5140159694936672| -0.8505936263181204|
|    514|    591| 0.3452000000000002|0.5140159694936672| 0.17743831266921403|
|    367|    591|-0.6547999999999998|0.5140159694936672|-0.33657765682445323|
+-------+-------+-------------------+------------------+--------------------+
only showing top 20 rows

In [552]:
prt3_df = spark.sql('SELECT film_id, sum(for_sum) as chislit, ' +
          ' sum(CASE WHEN sau < 0 THEN -1 * sau ELSE sau END) as znam, ' + 
          ' sum(for_sum) / sum(CASE WHEN sau < 0 THEN -1 * sau ELSE sau END) as res_'
          ' FROM prt2 GROUP BY film_id')

In [553]:
prt3_df.registerTempTable('prt3')

In [563]:
spark.sql('SELECT film_id FROM prt3 ' +
          ' WHERE film_id IN (SELECT DISTINCT(film_id) FROM ratings WHERE user_id != 94)' + 
          ' ORDER BY res_ DESC').collect()

[Row(film_id='1367'),
 Row(film_id='1529'),
 Row(film_id='513'),
 Row(film_id='1099'),
 Row(film_id='1103'),
 Row(film_id='1080'),
 Row(film_id='493'),
 Row(film_id='647'),
 Row(film_id='320'),
 Row(film_id='902'),
 Row(film_id='127'),
 Row(film_id='134'),
 Row(film_id='1021'),
 Row(film_id='100'),
 Row(film_id='603'),
 Row(film_id='610'),
 Row(film_id='185'),
 Row(film_id='474'),
 Row(film_id='854'),
 Row(film_id='1143'),
 Row(film_id='1514'),
 Row(film_id='1022'),
 Row(film_id='285'),
 Row(film_id='180'),
 Row(film_id='654'),
 Row(film_id='518'),
 Row(film_id='718'),
 Row(film_id='694'),
 Row(film_id='882'),
 Row(film_id='483'),
 Row(film_id='494'),
 Row(film_id='919'),
 Row(film_id='524'),
 Row(film_id='1203'),
 Row(film_id='262'),
 Row(film_id='313'),
 Row(film_id='192'),
 Row(film_id='641'),
 Row(film_id='64'),
 Row(film_id='246'),
 Row(film_id='169'),
 Row(film_id='56'),
 Row(film_id='23'),
 Row(film_id='644'),
 Row(film_id='272'),
 Row(film_id='648'),
 Row(film_id='357'),
 Row(film_id='61'),
 Row(film_id='171'),
 Row(film_id='191'),
 Row(film_id='1361'),
 Row(film_id='645'),
 Row(film_id='1148'),
 Row(film_id='1397'),
 Row(film_id='179'),
 Row(film_id='12'),
 Row(film_id='1286'),
 Row(film_id='511'),
 Row(film_id='512'),
 Row(film_id='318'),
 Row(film_id='276'),
 Row(film_id='427'),
 Row(film_id='9'),
 Row(film_id='1007'),
 Row(film_id='865'),
 Row(film_id='425'),
 Row(film_id='205'),
 Row(film_id='178'),
 Row(film_id='197'),
 Row(film_id='187'),
 Row(film_id='48'),
 Row(film_id='50'),
 Row(film_id='59'),
 Row(film_id='340'),
 Row(film_id='14'),
 Row(film_id='156'),
 Row(film_id='182'),
 Row(film_id='484'),
 Row(film_id='661'),
 Row(film_id='45'),
 Row(film_id='135'),
 Row(film_id='517'),
 Row(film_id='124'),
 Row(film_id='488'),
 Row(film_id='963'),
 Row(film_id='131'),
 Row(film_id='653'),
 Row(film_id='98'),
 Row(film_id='199'),
 Row(film_id='408'),
 Row(film_id='481'),
 Row(film_id='268'),
 Row(film_id='475'),
 Row(film_id='525'),
 Row(film_id='530'),
 Row(film_id='114'),
 Row(film_id='531'),
 Row(film_id='699'),
 Row(film_id='487'),
 Row(film_id='856'),
 Row(film_id='994'),
 Row(film_id='170'),
 Row(film_id='223'),
 Row(film_id='1428'),
 Row(film_id='315'),
 Row(film_id='537'),
 Row(film_id='793'),
 Row(film_id='529'),
 Row(film_id='671'),
 Row(film_id='297'),
 Row(film_id='57'),
 Row(film_id='491'),
 Row(film_id='317'),
 Row(film_id='651'),
 Row(film_id='705'),
 Row(film_id='480'),
 Row(film_id='89'),
 Row(film_id='1216'),
 Row(film_id='947'),
 Row(film_id='659'),
 Row(film_id='589'),
 Row(film_id='60'),
 Row(film_id='923'),
 Row(film_id='209'),
 Row(film_id='177'),
 Row(film_id='211'),
 Row(film_id='506'),
 Row(film_id='132'),
 Row(film_id='157'),
 Row(film_id='251'),
 Row(film_id='507'),
 Row(film_id='478'),
 Row(film_id='613'),
 Row(film_id='1451'),
 Row(film_id='183'),
 Row(film_id='1252'),
 Row(film_id='1555'),
 Row(film_id='151'),
 Row(film_id='137'),
 Row(film_id='522'),
 Row(film_id='508'),
 Row(film_id='293'),
 Row(film_id='238'),
 Row(film_id='606'),
 Row(film_id='175'),
 Row(film_id='32'),
 Row(film_id='1039'),
 Row(film_id='8'),
 Row(film_id='514'),
 Row(film_id='208'),
 Row(film_id='224'),
 Row(film_id='492'),
 Row(film_id='693'),
 Row(film_id='193'),
 Row(film_id='499'),
 Row(film_id='657'),
 Row(film_id='469'),
 Row(film_id='168'),
 Row(film_id='497'),
 Row(film_id='305'),
 Row(film_id='42'),
 Row(film_id='10'),
 Row(film_id='213'),
 Row(film_id='203'),
 Row(film_id='479'),
 Row(film_id='387'),
 Row(film_id='428'),
 Row(film_id='1073'),
 Row(film_id='136'),
 Row(film_id='372'),
 Row(film_id='650'),
 Row(film_id='345'),
 Row(film_id='971'),
 Row(film_id='773'),
 Row(film_id='562'),
 Row(film_id='1218'),
 Row(film_id='198'),
 Row(film_id='593'),
 Row(film_id='767'),
 Row(film_id='172'),
 Row(film_id='302'),
 Row(film_id='482'),
 Row(film_id='215'),
 Row(film_id='47'),
 Row(film_id='176'),
 Row(film_id='750'),
 Row(film_id='1405'),
 Row(film_id='414'),
 Row(film_id='207'),
 Row(film_id='190'),
 Row(film_id='430'),
 Row(film_id='1005'),
 Row(film_id='1240'),
 Row(film_id='1142'),
 Row(film_id='638'),
 Row(film_id='527'),
 Row(film_id='275'),
 Row(film_id='316'),
 Row(film_id='1298'),
 Row(film_id='605'),
 Row(film_id='404'),
 Row(film_id='1496'),
 Row(film_id='348'),
 Row(film_id='1277'),
 Row(film_id='1664'),
 Row(film_id='1446'),
 Row(film_id='1468'),
 Row(film_id='992'),
 Row(film_id='715'),
 Row(film_id='189'),
 Row(film_id='504'),
 Row(film_id='792'),
 Row(film_id='500'),
 Row(film_id='443'),
 Row(film_id='900'),
 Row(film_id='435'),
 Row(film_id='498'),
 Row(film_id='242'),
 Row(film_id='656'),
 Row(film_id='485'),
 Row(film_id='582'),
 Row(film_id='432'),
 Row(film_id='11'),
 Row(film_id='83'),
 Row(film_id='632'),
 Row(film_id='306'),
 Row(film_id='464'),
 Row(film_id='663'),
 Row(film_id='634'),
 Row(film_id='853'),
 Row(film_id='92'),
 Row(film_id='200'),
 Row(film_id='152'),
 Row(film_id='129'),
 Row(film_id='420'),
 Row(film_id='1077'),
 Row(film_id='528'),
 Row(film_id='523'),
 Row(film_id='640'),
 Row(film_id='1147'),
 Row(film_id='505'),
 Row(film_id='1194'),
 Row(film_id='153'),
 Row(film_id='93'),
 Row(film_id='416'),
 Row(film_id='1020'),
 Row(film_id='201'),
 Row(film_id='87'),
 Row(film_id='71'),
 Row(film_id='789'),
 Row(film_id='1134'),
 Row(film_id='166'),
 Row(film_id='870'),
 Row(film_id='905'),
 Row(film_id='778'),
 Row(film_id='615'),
 Row(film_id='174'),
 Row(film_id='194'),
 Row(film_id='1199'),
 Row(film_id='631'),
 Row(film_id='46'),
 Row(film_id='515'),
 Row(film_id='154'),
 Row(film_id='221'),
 Row(film_id='258'),
 Row(film_id='150'),
 Row(film_id='547'),
 Row(film_id='813'),
 Row(film_id='604'),
 Row(film_id='509'),
 Row(film_id='99'),
 Row(film_id='256'),
 Row(film_id='652'),
 Row(film_id='19'),
 Row(film_id='173'),
 Row(film_id='81'),
 Row(film_id='52'),
 Row(film_id='581'),
 Row(film_id='1120'),
 Row(film_id='519'),
 Row(film_id='501'),
 Row(film_id='347'),
 Row(film_id='855'),
 Row(film_id='97'),
 Row(film_id='521'),
 Row(film_id='526'),
 Row(film_id='303'),
 Row(film_id='746'),
 Row(film_id='144'),
 Row(film_id='1184'),
 Row(film_id='445'),
 Row(film_id='250'),
 Row(film_id='844'),
 Row(film_id='1226'),
 Row(film_id='655'),
 Row(film_id='557'),
 Row(film_id='418'),
 Row(film_id='65'),
 Row(film_id='433'),
 Row(film_id='960'),
 Row(film_id='467'),
 Row(film_id='133'),
 Row(film_id='709'),
 Row(film_id='1010'),
 Row(film_id='558'),
 Row(film_id='955'),
 Row(film_id='686'),
 Row(film_id='234'),
 Row(film_id='346'),
 Row(film_id='1183'),
 Row(film_id='639'),
 Row(film_id='269'),
 Row(film_id='86'),
 Row(film_id='740'),
 Row(film_id='1070'),
 Row(film_id='502'),
 Row(film_id='736'),
 Row(film_id='79'),
 Row(film_id='462'),
 Row(film_id='116'),
 Row(film_id='847'),
 Row(film_id='1012'),
 Row(film_id='806'),
 Row(film_id='534'),
 Row(film_id='273'),
 Row(film_id='423'),
 Row(film_id='1333'),
 Row(film_id='995'),
 Row(film_id='594'),
 Row(film_id='1081'),
 Row(film_id='465'),
 Row(film_id='602'),
 Row(film_id='735'),
 Row(film_id='1035'),
 Row(film_id='1069'),
 Row(film_id='642'),
 Row(film_id='496'),
 Row(film_id='607'),
 Row(film_id='421'),
 Row(film_id='836'),
 Row(film_id='612'),
 Row(film_id='618'),
 Row(film_id='1121'),
 Row(film_id='7'),
 Row(film_id='28'),
 Row(film_id='91'),
 Row(film_id='160'),
 Row(film_id='228'),
 Row(film_id='188'),
 Row(film_id='961'),
 Row(film_id='614'),
 Row(film_id='212'),
 Row(film_id='1113'),
 Row(film_id='887'),
 Row(film_id='69'),
 Row(film_id='429'),
 Row(film_id='707'),
 Row(film_id='713'),
 Row(film_id='13'),
 Row(film_id='381'),
 Row(film_id='1111'),
 Row(film_id='181'),
 Row(film_id='1009'),
 Row(film_id='58'),
 Row(film_id='466'),
 Row(film_id='195'),
 Row(film_id='298'),
 Row(film_id='965'),
 Row(film_id='1068'),
 Row(film_id='486'),
 Row(film_id='1'),
 Row(film_id='673'),
 Row(film_id='436'),
 Row(film_id='162'),
 Row(film_id='244'),
 Row(film_id='1101'),
 Row(film_id='307'),
 Row(film_id='490'),
 Row(film_id='956'),
 Row(film_id='1097'),
 Row(film_id='731'),
 Row(film_id='664'),
 Row(film_id='510'),
 Row(film_id='1623'),
 Row(film_id='344'),
 Row(film_id='1356'),
 Row(film_id='533'),
 Row(film_id='350'),
 Row(film_id='752'),
 Row(film_id='55'),
 Row(film_id='287'),
 Row(film_id='979'),
 Row(film_id='196'),
 Row(film_id='1065'),
 Row(film_id='544'),
 Row(film_id='283'),
 Row(film_id='236'),
 Row(film_id='921'),
 Row(film_id='922'),
 Row(film_id='4'),
 Row(film_id='1187'),
 Row(film_id='128'),
 Row(film_id='22'),
 Row(film_id='708'),
 Row(film_id='30'),
 Row(film_id='419'),
 Row(film_id='286'),
 Row(film_id='741'),
 Row(film_id='780'),
 Row(film_id='186'),
 Row(film_id='616'),
 Row(film_id='835'),
 Row(film_id='1017'),
 Row(film_id='1445'),
 Row(film_id='714'),
 Row(film_id='459'),
 Row(film_id='970'),
 Row(film_id='874'),
 Row(film_id='964'),
 Row(film_id='107'),
 Row(film_id='609'),
 Row(film_id='633'),
 Row(film_id='733'),
 Row(film_id='837'),
 Row(film_id='1084'),
 Row(film_id='1245'),
 Row(film_id='896'),
 Row(film_id='337'),
 Row(film_id='311'),
 Row(film_id='848'),
 Row(film_id='972'),
 Row(film_id='937'),
 Row(film_id='942'),
 Row(film_id='503'),
 Row(film_id='470'),
 Row(film_id='543'),
 Row(film_id='463'),
 Row(film_id='770'),
 Row(film_id='1222'),
 Row(film_id='1204'),
 Row(film_id='1085'),
 Row(film_id='747'),
 Row(film_id='936'),
 Row(film_id='378'),
 Row(film_id='727'),
 Row(film_id='1109'),
 Row(film_id='1098'),
 Row(film_id='608'),
 Row(film_id='304'),
 Row(film_id='143'),
 Row(film_id='126'),
 Row(film_id='649'),
 Row(film_id='202'),
 Row(film_id='1404'),
 Row(film_id='396'),
 Row(film_id='703'),
 Row(film_id='204'),
 Row(film_id='382'),
 Row(film_id='334'),
 Row(film_id='980'),
 Row(film_id='333'),
 Row(film_id='461'),
 Row(film_id='248'),
 Row(film_id='434'),
 Row(film_id='762'),
 Row(film_id='959'),
 Row(film_id='164'),
 Row(film_id='1045'),
 Row(film_id='308'),
 Row(film_id='163'),
 Row(film_id='724'),
 Row(film_id='149'),
 Row(film_id='952'),
 Row(film_id='206'),
 Row(film_id='356'),
 Row(film_id='410'),
 Row(film_id='1011'),
 Row(film_id='237'),
 Row(film_id='786'),
 Row(film_id='536'),
 Row(film_id='730'),
 Row(film_id='329'),
 Row(film_id='945'),
 Row(film_id='702'),
 Row(film_id='833'),
 Row(film_id='489'),
 Row(film_id='625'),
 Row(film_id='1526'),
 Row(film_id='74'),
 Row(film_id='319'),
 Row(film_id='1067'),
 Row(film_id='447'),
 Row(film_id='444'),
 Row(film_id='1438'),
 Row(film_id='1008'),
 Row(film_id='1132'),
 Row(film_id='1050'),
 Row(film_id='588'),
 Row(film_id='637'),
 Row(film_id='584'),
 Row(film_id='843'),
 Row(film_id='998'),
 Row(film_id='219'),
 Row(film_id='975'),
 Row(film_id='1311'),
 Row(film_id='471'),
 Row(film_id='1475'),
 Row(film_id='958'),
 Row(film_id='82'),
 Row(film_id='591'),
 Row(film_id='141'),
 Row(film_id='216'),
 Row(film_id='214'),
 Row(film_id='331'),
 Row(film_id='1497'),
 Row(film_id='1375'),
 Row(film_id='1015'),
 Row(film_id='460'),
 Row(film_id='379'),
 Row(film_id='165'),
 Row(film_id='70'),
 Row(film_id='516'),
 Row(film_id='184'),
 Row(film_id='31'),
 Row(film_id='636'),
 Row(film_id='1167'),
 Row(film_id='949'),
 Row(film_id='1014'),
 Row(film_id='1211'),
 Row(film_id='953'),
 Row(film_id='39'),
 Row(film_id='265'),
 Row(film_id='744'),
 Row(film_id='675'),
 Row(film_id='96'),
 Row(film_id='728'),
 Row(film_id='732'),
 Row(film_id='367'),
 Row(film_id='324'),
 Row(film_id='210'),
 Row(film_id='794'),
 Row(film_id='321'),
 Row(film_id='371'),
 Row(film_id='249'),
 Row(film_id='270'),
 Row(film_id='864'),
 Row(film_id='1401'),
 Row(film_id='549'),
 Row(film_id='672'),
 Row(film_id='684'),
 Row(film_id='109'),
 Row(film_id='692'),
 Row(film_id='288'),
 Row(film_id='993'),
 Row(film_id='690'),
 Row(film_id='310'),
 Row(film_id='403'),
 Row(film_id='51'),
 Row(film_id='1153'),
 Row(film_id='239'),
 Row(film_id='327'),
 Row(film_id='697'),
 Row(film_id='954'),
 Row(film_id='53'),
 Row(film_id='842'),
 Row(film_id='15'),
 Row(film_id='1259'),
 Row(film_id='880'),
 Row(film_id='1312'),
 Row(film_id='1094'),
 Row(film_id='623'),
 Row(film_id='76'),
 Row(film_id='1042'),
 Row(film_id='390'),
 Row(film_id='1335'),
 Row(film_id='799'),
 Row(film_id='757'),
 Row(film_id='1677'),
 Row(film_id='583'),
 Row(film_id='704'),
 Row(film_id='1048'),
 Row(film_id='1244'),
 Row(film_id='846'),
 Row(film_id='805'),
 Row(film_id='458'),
 Row(film_id='217'),
 Row(film_id='115'),
 Row(film_id='841'),
 Row(film_id='1018'),
 Row(film_id='312'),
 Row(film_id='17'),
 Row(film_id='1207'),
 Row(film_id='1212'),
 Row(film_id='587'),
 Row(film_id='44'),
 Row(film_id='241'),
 Row(film_id='886'),
 Row(film_id='568'),
 Row(film_id='1168'),
 Row(film_id='698'),
 Row(film_id='1129'),
 Row(film_id='25'),
 Row(film_id='1082'),
 Row(film_id='37'),
 Row(film_id='33'),
 Row(film_id='1208'),
 Row(film_id='628'),
 Row(film_id='20'),
 Row(film_id='520'),
 Row(film_id='431'),
 Row(film_id='772'),
 Row(film_id='330'),
 Row(film_id='111'),
 Row(film_id='240'),
 Row(film_id='800'),
 Row(film_id='43'),
 Row(film_id='1044'),
 Row(film_id='24'),
 Row(film_id='1149'),
 Row(film_id='658'),
 Row(film_id='473'),
 Row(film_id='385'),
 Row(film_id='95'),
 Row(film_id='943'),
 Row(film_id='716'),
 Row(film_id='26'),
 Row(film_id='68'),
 Row(film_id='386'),
 Row(film_id='230'),
 Row(film_id='1264'),
 Row(film_id='295'),
 Row(film_id='477'),
 Row(film_id='1284'),
 Row(film_id='282'),
 Row(film_id='73'),
 Row(film_id='49'),
 Row(film_id='147'),
 Row(film_id='824'),
 Row(film_id='751'),
 Row(film_id='140'),
 Row(film_id='1510'),
 Row(film_id='1303'),
 Row(film_id='1232'),
 Row(film_id='867'),
 Row(film_id='1511'),
 Row(film_id='1118'),
 Row(film_id='872'),
 Row(film_id='863'),
 Row(film_id='1682'),
 Row(film_id='1268'),
 Row(film_id='1597'),
 Row(film_id='255'),
 Row(film_id='449'),
 Row(film_id='1267'),
 Row(film_id='676'),
 Row(film_id='1221'),
 Row(film_id='580'),
 Row(film_id='742'),
 Row(film_id='54'),
 Row(film_id='561'),
 Row(film_id='924'),
 Row(film_id='617'),
 Row(film_id='1171'),
 Row(film_id='277'),
 Row(film_id='553'),
 Row(film_id='235'),
 Row(film_id='399'),
 Row(film_id='218'),
 Row(film_id='566'),
 Row(film_id='88'),
 Row(film_id='646'),
 Row(film_id='72'),
 Row(film_id='448'),
 Row(film_id='1006'),
 Row(film_id='274'),
 Row(film_id='1093'),
 Row(film_id='1296'),
 Row(film_id='556'),
 Row(film_id='1053'),
 Row(film_id='1000'),
 Row(film_id='1291'),
 Row(film_id='394'),
 Row(film_id='1181'),
 Row(film_id='1423'),
 Row(film_id='1151'),
 Row(film_id='1002'),
 Row(film_id='660'),
 Row(film_id='222'),
 Row(film_id='405'),
 Row(film_id='257'),
 Row(film_id='785'),
 Row(film_id='90'),
 Row(film_id='950'),
 Row(film_id='1197'),
 Row(film_id='696'),
 Row(film_id='763'),
 Row(film_id='271'),
 Row(film_id='729'),
 Row(film_id='41'),
 Row(film_id='117'),
 Row(film_id='392'),
 Row(film_id='1139'),
 Row(film_id='764'),
 Row(film_id='969'),
 Row(film_id='130'),
 Row(film_id='790'),
 Row(film_id='1059'),
 Row(film_id='737'),
 Row(film_id='281'),
 Row(film_id='159'),
 Row(film_id='122'),
 Row(film_id='738'),
 Row(film_id='939'),
 Row(film_id='85'),
 Row(film_id='289'),
 Row(film_id='815'),
 Row(film_id='1289'),
 Row(film_id='468'),
 Row(film_id='845'),
 Row(film_id='781'),
 Row(film_id='232'),
 Row(film_id='710'),
 Row(film_id='875'),
 Row(film_id='570'),
 Row(film_id='354'),
 Row(film_id='5'),
 Row(film_id='6'),
 Row(film_id='291'),
 Row(film_id='712'),
 Row(film_id='108'),
 Row(film_id='866'),
 Row(film_id='167'),
 Row(film_id='1114'),
 Row(film_id='1019'),
 Row(film_id='2'),
 Row(film_id='985'),
 Row(film_id='559'),
 Row(film_id='233'),
 Row(film_id='1016'),
 Row(film_id='229'),
 Row(film_id='3'),
 Row(film_id='811'),
 Row(film_id='220'),
 Row(film_id='279'),
 Row(film_id='125'),
 Row(film_id='402'),
 Row(film_id='873'),
 Row(film_id='411'),
 Row(film_id='101'),
 Row(film_id='1071'),
 Row(film_id='849'),
 Row(film_id='596'),
 Row(film_id='1157'),
 Row(film_id='363'),
 Row(film_id='1041'),
 Row(film_id='765'),
 Row(film_id='1411'),
 Row(film_id='787'),
 Row(film_id='879'),
 Row(film_id='326'),
 Row(film_id='366'),
 Row(film_id='455'),
 Row(film_id='231'),
 Row(film_id='284'),
 Row(film_id='376'),
 Row(film_id='662'),
 Row(film_id='761'),
 Row(film_id='674'),
 Row(film_id='878'),
 Row(film_id='1076'),
 Row(film_id='904'),
 Row(film_id='1066'),
 Row(film_id='1075'),
 Row(film_id='1083'),
 Row(film_id='629'),
 Row(film_id='895'),
 Row(film_id='27'),
 Row(film_id='946'),
 Row(film_id='80'),
 Row(film_id='105'),
 Row(film_id='755'),
 Row(film_id='928'),
 Row(film_id='332'),
 Row(film_id='679'),
 Row(film_id='719'),
 Row(film_id='818'),
 Row(film_id='401'),
 Row(film_id='630'),
 Row(film_id='67'),
 Row(film_id='364'),
 Row(film_id='226'),
 Row(film_id='575'),
 Row(film_id='123'),
 Row(film_id='278'),
 Row(film_id='721'),
 Row(film_id='1119'),
 Row(film_id='831'),
 Row(film_id='722'),
 Row(film_id='393'),
 Row(film_id='620'),
 Row(film_id='121'),
 Row(film_id='294'),
 Row(film_id='451'),
 Row(film_id='925'),
 Row(film_id='1110'),
 Row(film_id='825'),
 Row(film_id='682'),
 Row(film_id='739'),
 Row(film_id='290'),
 Row(film_id='292'),
 Row(film_id='78'),
 Row(film_id='77'),
 Row(film_id='161'),
 Row(film_id='1377'),
 Row(film_id='1275'),
 Row(film_id='754'),
 Row(film_id='339'),
 Row(film_id='823'),
 Row(film_id='774'),
 Row(film_id='158'),
 Row(film_id='619'),
 Row(film_id='94'),
 Row(film_id='106'),
 Row(film_id='417'),
 Row(film_id='1166'),
 Row(film_id='139'),
 Row(film_id='665'),
 Row(film_id='225'),
 Row(film_id='328'),
 Row(film_id='1160'),
 Row(film_id='685'),
 Row(film_id='552'),
 Row(film_id='569'),
 Row(film_id='495'),
 Row(film_id='966'),
 Row(film_id='749'),
 Row(film_id='745'),
 Row(film_id='753'),
 Row(film_id='1400'),
 Row(film_id='990'),
 Row(film_id='933'),
 Row(film_id='66'),
 Row(film_id='577'),
 Row(film_id='1224'),
 Row(film_id='840'),
 Row(film_id='782'),
 Row(film_id='572'),
 Row(film_id='689'),
 Row(film_id='535'),
 Row(film_id='1220'),
 Row(film_id='1154'),
 Row(film_id='252'),
 Row(film_id='1135'),
 Row(film_id='300'),
 Row(film_id='550'),
 Row(film_id='695'),
 Row(film_id='342'),
 Row(film_id='301'),
 Row(film_id='627'),
 Row(film_id='622'),
 Row(film_id='573'),
 Row(film_id='1046'),
 Row(film_id='554'),
 Row(film_id='881'),
 Row(film_id='450'),
 Row(film_id='986'),
 Row(film_id='63'),
 Row(film_id='406'),
 Row(film_id='723'),
 Row(film_id='299'),
 Row(film_id='1210'),
 Row(film_id='380'),
 Row(film_id='1028'),
 Row(film_id='1112'),
 Row(film_id='1117'),
 Row(film_id='1107'),
 Row(film_id='412'),
 Row(film_id='415'),
 Row(film_id='1301'),
 Row(film_id='802'),
 Row(film_id='1159'),
 Row(film_id='325'),
 Row(film_id='1479'),
 Row(film_id='1091'),
 Row(film_id='1281'),
 Row(film_id='1036'),
 Row(film_id='1248'),
 Row(film_id='542'),
 Row(film_id='1029'),
 Row(film_id='145'),
 Row(film_id='16'),
 Row(film_id='1421'),
 Row(film_id='1161'),
 Row(film_id='941'),
 Row(film_id='1057'),
 Row(film_id='227'),
 Row(film_id='264'),
 Row(film_id='576'),
 Row(film_id='820'),
 Row(film_id='700'),
 Row(film_id='1205'),
 Row(film_id='989'),
 Row(film_id='967'),
 Row(film_id='1456'),
 Row(film_id='1631'),
 Row(film_id='717'),
 Row(film_id='245'),
 Row(film_id='384'),
 Row(film_id='260'),
 Row(film_id='571'),
 Row(film_id='546'),
 Row(film_id='725'),
 Row(film_id='1163'),
 Row(film_id='670'),
 Row(film_id='734'),
 Row(film_id='118'),
 Row(film_id='1170'),
 Row(film_id='756'),
 Row(film_id='977'),
 Row(film_id='1145'),
 Row(film_id='929'),
 Row(film_id='1074'),
 Row(film_id='876'),
 Row(film_id='1315'),
 Row(film_id='934'),
 Row(film_id='1095'),
 Row(film_id='944'),
 Row(film_id='595'),
 Row(film_id='472'),
 Row(film_id='343'),
 Row(film_id='38'),
 Row(film_id='810'),
 Row(film_id='1090'),
 Row(film_id='62'),
 Row(film_id='1188'),
 Row(film_id='456'),
 Row(film_id='748'),
 Row(film_id='476'),
 Row(film_id='948'),
 Row(film_id='997'),
 Row(film_id='1086'),
 Row(film_id='1283'),
 Row(film_id='365'),
 Row(film_id='1061'),
 Row(film_id='1478'),
 Row(film_id='40'),
 Row(film_id='110'),
 Row(film_id='743'),

In [564]:
result = {
    'average_film_ratings' : 59.453, 
    'average_user_ratings' : 106.0445, 
    'completeness' : 0.063,
    'pearson_neighbours' : [92, 303 , 115 , 49 , 645 , 747 ,457 ,537 ,135 ,933 ,643 ,
                            292 ,339 ,389 ,591 ,880 ,343 ,
                            269 ,595 ,592 ,560 ,773 ,624 ,916 ,854 ,249 ,267 ,293 ,360 ,
                            323 ], 
    'pearson_top10' : [1367, 1529, 513, 1099, 1103, 1080, 493, 647, 320, 902] 
}

In [565]:
import json
with open('lab08.json', 'w') as file:
    json.dump(result, file)

In [194]:
spark.sql('SELECT user_id, rating, film_id FROM ratings WHERE user_id = 94 ')

DataFrame[user_id: string, rating: string, film_id: string]

In [179]:
spark.sql('SELECT user_id, rating, film_id FROM ratings WHERE user_id = {}'.format('296'))

DataFrame[user_id: string, rating: string, film_id: string]

In [215]:
spark.sql('SELECT rating FROM ratings ' + 
          ' WHERE user_id = {} and film_id in (SELECT film_id FROM ratings WHERE user_id = 94)'.format('296')).show()

+------+
|rating|
+------+
|     5|
|     5|
|     4|
|     4|
|     4|
|     5|
|     5|
|     4|
|     5|
|     4|
|     2|
|     5|
|     4|
|     5|
|     5|
|     5|
|     4|
|     5|
|     4|
|     5|
+------+
only showing top 20 rows

In [327]:
curr_users_mean_rating = spark.sql('SELECT users_mean_rating FROM user_user WHERE user_id = {}'.format('467')).take(1)[0].users_mean_rating
my_users_mean_rating = spark.sql('SELECT users_mean_rating FROM user_user WHERE user_id = {}'.format('94')).take(1)[0].users_mean_rating
print(curr_users_mean_rating, my_users_mean_rating)

3.6818 3.6575

In [285]:
spark.sql(
'SELECT  T2.user_id, T1.rating as rating_94, T2.rating as rating_u, T1.film_id,' + 
' int(T1.rating) - {} as myR_,  int(T2.rating) - {} as uR_,'.format(my_users_mean_rating, curr_users_mean_rating) +
' (int(T1.rating) - {}) * (int(T2.rating) - {}) as myR_POW_uR_,'.format(my_users_mean_rating, curr_users_mean_rating) +    
' POW(int(T1.rating) - {}, 2) as myR_2,'.format(my_users_mean_rating) + 
' POW(int(T2.rating) - {}, 2) as uR_2'.format(curr_users_mean_rating) +    
' FROM ' +
'(SELECT user_id, rating, film_id FROM ratings WHERE user_id = 94) T1, ' +
'(SELECT user_id, rating, film_id FROM ratings WHERE user_id = {}) T2 '.format('296') +
' WHERE T1.film_id = T2.film_id'
).count()

76

In [324]:
spark.sql(
'SELECT ' +
#'    sum(myR_POW_uR_) as sum_myR_POW_uR_,'     +
#'       CASE WHEN count(T3.user_id)/50 < 1 THEN count(T3.user_id)/50 ELSE 1 END as correction, ' +    
'       (sum(myR_POW_uR_) / (sqrt(sum(myR_2)) * sqrt(sum(uR_2))))  * (CASE WHEN count(T3.user_id)/50 < 1 THEN count(T3.user_id)/50 ELSE 1 END) as corr_s_a_u, '    
#'       sum(myR_2) as sum_myR_2, '                +
#'       sum(uR_2) as sum_uR_2, '                  +
#'       count(T3.user_id)/50 as count_del_50, '     +
#'       sqrt(sum(myR_2)) as sqrt_sum_myR_2, '     +   
#'       sqrt(sum(uR_2))  as sqrt_ssum_uR_2, '     + 
#'       sqrt(sum(myR_2)) * sqrt(sum(uR_2))  as Pow_sqrt, '  +
'       CASE WHEN sum(myR_2) = 0 OR sum(uR_2) = 0 THEN 0 ELSE sum(myR_POW_uR_) / (sqrt(sum(myR_2)) * sqrt(sum(uR_2))) END as s_a_u ' +
    ' FROM (' +
' SELECT T2.user_id as user_id, T1.rating as rating_94, T2.rating as rating_u, T1.film_id,' + 
' int(T1.rating) - {} as myR_,  int(T2.rating) - {} as uR_,'.format(my_users_mean_rating, curr_users_mean_rating) +
' (int(T1.rating) - {}) * (int(T2.rating) - {}) as myR_POW_uR_,'.format(my_users_mean_rating, curr_users_mean_rating) +    
' POW(int(T1.rating) - {}, 2) as myR_2,'.format(my_users_mean_rating) + 
' POW(int(T2.rating) - {}, 2) as uR_2'.format(curr_users_mean_rating) +    
' FROM ' +
'(SELECT user_id, rating, film_id FROM ratings WHERE user_id = 94) T1, ' +
'(SELECT user_id, rating, film_id FROM ratings WHERE user_id = {}) T2 '.format('467') +
' WHERE T1.film_id = T2.film_id' +
    ') T3 GROUP BY user_id'
    
).take(1)[0].corr_s_a_u

0.01659367754126844